requests
pandas==2.1.4
beautifulsoup4
gunicorn
cryptography
celery
flower
flask-session<0.6.0
psycopg2_binary
apache-airflow
apache-airflow-providers-common-sql
apache-airflow-providers-postgres==5.14.0
google-api-python-client
auth-lib-profcomff
profcomff-parse-lib
profcomff-definitions
virtualenv
